<% if user_signed_in? %>
	<h1> You're logged in!</h1>
<% else %>

	<div class="jumbotron">
	  <h1>Hello, world!</h1>
	  <h1>Welcome, Babo Ali!</h1>
	<p>
		You've found the page for
		<%= link_to "Babo Ali", "http://about.me/alikim" %>
		
	</p>
	<p> 
		<%= link_to "Sign up Now!",new_user_registration_path,class: "btn btn-primary btn-large" %> 
	</p>
	  <p><a class="btn btn-primary btn-lg" role="button">Become Babo</a></p>
	</div>
<% end %>

